* {
/*        border: 1px solid #c00;*/
}

html {
    font-size: 1rem;
}

/**  THEME COLORS **/

.dark-grey-theme {
    background-color: #333;
}

.grey-theme-transparent {
    background: rgba(0, 0, 0, 0.7);
}

.light-blue-theme {
    background: #0099d8;
}

.light-blue-text {
    color: #0099d8;
}

.white-text {
    color: #fff;
}

.centered {
    text-align: center;
}

.max-vh {
    height: 100vh;
}

/** ELEMENTS FROM TOP OF INDEX.HTML FILE DOWNWARD **/

header {}

.contact-info {
    position: relative;
    padding: 0.15em;
    z-index: 9;
}
.contact-info p{
    text-align: center;
}
.btn {
    border-radius: 50px;
}
.btn:hover {
    box-shadow: 0 0 5px #444;
}

/** NAVIGATION  **/

.navbar-toggler-icon {
    font-size: 35px;
}

ul {}

li {}

a {}

.nav-link {
    color: #000;
    font-weight: 700;
    font-size: 1.2em;
}

.nav-link:hover {
    color: #555;
}

.nav-link-sub {
    color: #fff;
}

.nav-link-sub:hover {
    color: #ccc;
}

escape a:visited {
    color: #fff;
}

.escape {
    position: fixed;
    right: 10%;
    bottom: 0;
    z-index: 9;
    border-radius: 20px;
}

.escape a {
    color: #fff;
}

h2 {
}

.contrast {
    filter: brightness(80%);
}

.obj-fit {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/**CAROUSEL / HERO IMAGE */

.img-fluid:hover {
    filter: brightness(100%);
    cursor: pointer;
}
.welcome {
    padding: 2em 0 0 0;
}

.welcome-text {
    padding: 15px 0;
}

.btn-center {
    width: 20%;
    margin: 0 auto;
}

.img-title {
    
    position: absolute;
/*    padding: auto;*/
    color: #fff;
    text-align: center;
    left: 0;
    right: 0;
    top: 60%;
    letter-spacing: 3px;
}

.home-images {
    object-fit: cover;
    overflow: hidden;
}

.mission-statement {
    position: relative;
    top: -40px;
    width: 90%;
    margin: 0 auto;
    padding: 1em;
    text-align: center;
}

.mission-text {
    padding: 15px 0;
    font-size: 2em;
    font-style: italic;
    font-weight: 600;
}


.accredited-text {
    padding: 50px 0;
    text-align: center;
    color: #0099d8;
}

.navbar {
    padding: 2em;
    z-index: 9;
}

.partner-logos {

    width: 70%;
    margin: 0 auto;
}

.partner-logos img {
    padding: 0.5em;
    margin-right: 0.5em;
}

footer {
    padding-top: 1em;
}

.footer-logo img {
    padding: 1em;
}

.footer-nav-hidden li {

    display: list-item;
    list-style: none;
    margin: 0;
}

.footer-nav {
    width: 30%;
    margin: 0 auto;
}


.footer-contact {
    text-align: right;
}

.copyright {
    padding-top: 1em;
    text-align: center;
    font-size: 10px;
}

.text-overlay {
    display: block;
}

/**
LVHA
**/

.community-header h1 {
    text-align: center;
    padding: 2em;
}

.service-tab:hover {
    background: #0099d8;
    color: #fff;
}


.service-tab:active {
    background: #0099d8;
}



/**-------------- SUB PAGE ITEMS -------***/

.navbar-footer {
    font-size: 14px;
    padding: 30px 0;
    margin: 0;
}

.right-justify {
    justify-content: flex-end;
    text-align: right;

}

.post{
    margin:2.5%  0;
}
.sidebar{
    margin: 5% 0;
}
.sidebar p{
/*    margin: 0 auto;*/
    padding: 0.5em 0;
    border-bottom: 1px solid #ccc;
}


/** END OF EXPERIMENTAL ZONE **/

/*jane*/


footer .showing-contact-info {
    display: none;
}

footer .collapse-contact-info {
    text-align: center;
}

footer .collapse-contact-info button {
    margin: 0;
}

.copyright {
    padding-top: 1em;
    text-align: center;
    font-size: 10px;
}




/* all subpages */

/*contact page from jane */
/*contact page from jane ends June 19*/




/*program & services page from jane begins June 19*/
.services, .latest-news, .partners, .about-text{
    margin: 1.5em 0;
}
.sub-pages .programs-services .sub-banner {
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.3) 0%,rgba(255,255,255,0.3) 100%), url(../images/programs-banner.jpg);
    background-size: cover;
    height: 550px;
    position: relative;
}


.sub-pages .programs-services .subpage-heading {
    color: white;
    font-weight: bold;
    position: absolute;
    bottom: 30%;
    left: 30%;  
}

.programs-services p {
    margin-top: 50px;
}


/*program & services page from jane ends */
/**NEWS AND ABOUT **/
.sub-pages .news .sub-banner {
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.3) 0%,rgba(255,255,255,0.3) 100%), url(../images/news-banner.jpg);
    background-size: cover;
    height: 550px;
    position: relative;
}


.sub-pages .news .subpage-heading {
    color: white;
    font-weight: bold;
    position: absolute;
    bottom: 30%;
    left: 40%;  
}

.sub-pages .about .sub-banner {
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.3) 0%,rgba(255,255,255,0.3) 100%), url(../images/about-banner.jpg);
    background-size: cover;
    height: 550px;
    position: relative;
}


.sub-pages .about .subpage-heading {
    color: white;
    font-weight: bold;
    position: absolute;
    bottom: 30%;
    left: 40%;  
}



/*resources page from jane begins June 19*/
.sub-pages .resources .sub-banner {
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.3) 0%,rgba(255,255,255,0.3) 100%), url(../images/resorces-banner.jpg);
    background-size: cover;
    height: 550px;
    position: relative;
}


.sub-pages .resources .subpage-heading {
    color: white;
    font-weight: bold;
    position: absolute;
    bottom: 30%;
    left: 40%;  
}

.sub-pages .contact {
}

.sub-pages .contact .sub-banner {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.3) 100%), url(../images/contact-banner.jpg);
    position: relative;
    background-size: cover;
    height: 550px;
}





/*contact page from jane June 19*/


.sub-pages .contact .sub-banner {
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.3) 0%,rgba(255,255,255,0.3) 100%), url(../images/contact-banner.jpg);
    background-size: cover;
    height: 550px;
    position: relative;
}

.sub-pages .contact .subpage-heading {
    color: white;
    font-weight: bold;
    position: absolute;
    bottom: 30%;
    left: 40%;  
}

.map-info {
    margin-top: 50px;
}

.map iframe {
    width: 100%;
}

.contact-form {
    background-color: #0099d8;
}

.contact-form h3 {
    color: white;
    margin-top: 20px;
}

.contact-form form input,
.contact-form form textarea {
    width: 100%;
    display: block;
    margin-top: 20px;
    height: 45px;
}

.contact-form form textarea {
    height: 120px;
}

.submit-btn {
    color: #0099d8;
    height: 35px;
    margin-bottom: 20px;
}



.contact-form .contact-ways h4,
.contact-form .contact-ways label {
    color: white;
}

.office-hours  {
    margin-top: 20px;
}

.doc-box {
    margin-bottom: 40px;
}

.doc-box button {
    width: 100%;
    background-color: #0099d8;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-top: 20px;
    text-align: left;
}

.resources .links {
    margin-top: 50px;
}

.resources .links a {
    display: block;
}

.resources .links a:link,
.resources .links a:visited,
.resources .links a:hover,
.resources .links a:active {
    text-decoration: none;
    color: black;
    font-style: italic;
}

.resource-partners {
    text-align: center;
    margin-bottom: 20px;
}

/*resources  page from jane ends June 19 */


/* board images from jane on June 21 */
.center-headings {
    text-align: center;
    margin-top: 20px;
}

.board-info {
    text-align: center;
}

.board-info h2 {
    text-align: center;
}

.board-info img {
    width: 100%;

}
/* board images from jane on June 21 */



/* Custom, iPhone Retina */

@media only screen and (min-width: 320px) {
    html {
        font-size: 1.1rem;
    }
    footer .collapse-contact-info button {
        margin: 0.3em;
    }


}

/* Extra Small Devices, Phones */

@media only screen and (min-width: 480px) {
    html {
        font-size: 1rem;
    }
    .about-banner {
        height: 700px;
    }
    .about-img {
        object-fit: cover;
    }
    footer .collapse-contact-info button {
        margin: 1.3rem;
    }


}

/* Small Devices, Tablets */

@media only screen and (min-width: 768px) {



    footer .contact-button {
        display: none;
    }

    footer .showing-contact-info {
        display: block;
    }
.contact-info p{
    padding-top: 0.5em;
    text-align: left;
}
    

}

/* Medium Devices, Desktops */

@media only screen and (min-width: 992px) {
    .footer-nav {
        width: 100%;
        margin: none;
    }

}

/* Large Devices, Wide Screens */

@media only screen and (min-width: 1200px) {}
